@import "../theme.css";

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo {
    background-image: var(--login-logo-image);
    width: 200px;
    height: 200px;
    margin: 25px;
}

.text-box {
    border: none;
    text-align: center;
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.checkbox {
    font-size: var(--font-size);
}