@import "../theme.css";

.rounded-square.sign-in {
    background-color: var(--primary-colour);
    display: flex;
    box-sizing:border-box;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
}

.link-container.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

p {
    width: 70%;
    font-size: var(--font-size);
}

.text-box {
    border: none;
    text-align: center;
    width: 70%;
    border-radius: 20px;
}